@font-face {
    font-family: "Young Serif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --bg-page: hsl(30, 54%, 90%);
    --bg-card: hsl(0, 0%, 100%);
    --bg-prep: hsl(330, 100%, 98%);

    --text-heading: hsl(24, 5%, 18%);
    --text-body: hsl(30, 10%, 34%);

    --accent-rose: hsl(332, 51%, 32%);
    --accent-brown: hsl(14, 45%, 36%);

    --border-color: hsl(30, 18%, 87%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-page);
    color: var(--text-body);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 128px 76px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 40px 32px;
    background-color: var(--bg-card);

    @media (min-width: 768px) {
        max-width: 736px;
        border-radius: 24px;
    }
}

.recipe-image {
    margin-left: -32px;
    margin-top: -40px;
    max-width: none;
    width: calc(100% + 64px);

    @media (min-width: 768px) {
        margin: 0;
        max-width: 100%;
        width: 100%;
        border-radius: 12px;
    }
}

.card-contents {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title {
    font-family: "Young Serif", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 24px;
    color: var(--text-heading);

    @media (min-width: 768px) {
        font-size: 40px;
    }
}

.prep-container {
    padding: 24px;
    background-color: var(--bg-prep);
    border-radius: 12px;
}

.prep-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 16px;
    color: var(--accent-rose);
}

.bulleted-list {
    list-style-type: none;
    padding-left: 8px;

    li {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    li::before {
        content: "";
        width: 4px;
        height: 4px;
        display: block;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: var(--accent-brown);
    }
}

.prep-container .bulleted-list li::before {
    background-color: var(--accent-rose);
}

li:not(:last-child) {
    margin-bottom: 8px;
}

.section-title {
    font-family: "Young Serif", serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 24px;
    color: var(--accent-brown);
}

.numbered-list {
    padding-left: 26px;

    li {
        padding-left: 16px
    }

    li::marker {
        font-weight: 700;
        color: var(--accent-brown);
    }

}

hr {
    border: 1px solid var(--border-color);
}

.nutrition-description {
    margin-bottom: 24px;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

th, td {
    padding: 12px 0;
    text-align: left;
}

tr:last-child th,
tr:last-child td {
    padding-bottom: 0;
}

th {
    font-weight: 400;
    padding-left: 32px;
}

td {
    font-weight: 700;
    padding-left: 16px;
    padding-right: 32px;
    color: var(--accent-brown);
}
